/* # Utils */
body {
	height: 100vh;
	background: linear-gradient(to bottom, #009688 20%, #dcdbd2 20%,#dcdbd2 100%);
}

main {
	 height: 90%;
}

h6 {
	color: #9ea1a1;
	display: inline;
	margin: 0;
}

i {
	cursor: pointer;
	font-size: 25px;
}

.contact-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.icons i{
	font-size: 20px;
	padding: 0 10px;
	color: #b1b1b1;
}

.shadow {
	box-shadow: 10px 10px 12px rgba(41, 41, 41, 0.226);
}

.hidden {
	display: none;
}

/* # Contacts Section */
#contacts-section {
	background-color: #fff;
}

/* # Header */
header {
	background-color: #eaeaea;
	height: 70px;
}

/* # Notifications Alert */
#notifications-alert {
	background-color: #8edafc;
	height: 70px;
}

#notifications-alert p {
	margin: 0;
}

#notifications-alert i {
	font-size: large;
	color: #8edafc;
	background-color: #fff;
	padding: 15px;
	border-radius: 50%;
}

/* # Contacts searchbar */
#contacts-search {
	position: relative;
}

#contacts-search i {
	font-size: 18px;
	position: absolute;
	top: 15px;
	left: 18px;
	color: #6c757d;
}

/* # Contacts List */
#contacts-list {
	max-width: 100%;
}

#contacts-list .contact {
	background-color: #fff;
}

#contacts-list .contact:hover {
	background-color: #e9ebeb;
}

#contacts-list .active {
	background-color: #e9ebeb;
}

/* # Chat Section */
section.col-8 {
	background-image: url(../img/mine.jpg);
}

/* # Message Area */
#message-area .row{
	background-color: #f3eeea;
}

#message-area i {
	color: #6b7376;
}

#message-area input {
	width: 100%;
	height: 100%;
	padding: 10px;
}

/* # Chat Area */
#chat-area{
	overflow-x: hidden;
}

.msg-row {
	align-items: center;
	display: flex;
	padding: 10px;
}

.sent {
	justify-content: end;
}

.received {
	justify-content: start;
}

.msg {
	min-height: 50px;
	max-width: 380px;
	padding: 6px 15px;
	border-radius: 10px;
}

.sent .msg {
	background-color: #d5f9ba;
}

.received .msg {
	background-color: #ffffff;
}

.msg-date {
	text-align: end;
	font-size: 10px;
	color: gray;
	margin: 0;
}

.msg:hover .msg-option{
	display: inline-block;
}

.msg-option i{
font-size: 10px;
color: #5f5f5f;
}

.msg-option {
	width: 100%;
	display: none;
}

.sent .msg-option {
	top: -6%;
	left: 95%;
}

.received .msg-option {
	top: -9%;
	right: -3%;
}