/* # Utils */
body {
	height: 100vh;
	background-color: #009688;
}

main{
	 height: 90%;
}

h6 {
	color: #9ea1a1;
	display: inline;
	margin: 0;
}

.contact-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* # Contacts Section */
#contacts-section {
	background-color: #fafafa;
}

/* # Header */
header {
	background-color: #eaeaea;
	height: 70px;
}

/* # Notifications Alert */
#notifications-alert {
	background-color: #8edafc;
	height: 70px;
}

#notifications-alert p {
	margin: 0;
}

#notifications-alert i {
	font-size: large;
	color: #8edafc;
	background-color: #fff;
	padding: 15px;
	border-radius: 50%;
}

/* # Contacts List */
#contacts-list .row {
	background-color: #eaeaea;
	height: 70px;
}